# Utils - directory paths for files and source code
CODE_BASE_DIR=../uo-data-box
FILE_SERVICE_DIR=../../${CODE_BASE_DIR}/archive/public
BACKUP_DIR=/srv/backup

# Instance - instance, domain declarations and exposed service URLs
UO_INSTANCE=city
UO_DOMAIN=newcastle
UO_HOST=urbanobservatory.ac.uk
UO_QUEUE_HOST=${UO_INSTANCE}-rabbitmq
UO_DATA_HOST=
UO_WEB_HOST=
UO_WEB_FILE_BASE=
UO_API_BASE=

# API and socket
UO_API_URL_EXCLUSIONS=
UO_API_RESTRICT_KEY
UO_WEBSOCKET_SERVER_PORT=3000

# Database
UO_DB_ORGANISATION=uo
UO_DB_SYSTEM=city
TABLE_PREFIX=${UO_DB_ORGANISATION}_${UO_DB_SYSTEM}_
POSTGRES_DB=${UO_DB_ORGANISATION}-${UO_DB_SYSTEM}
POSTGRES_USER=uo-admin
POSTGRES_PASSWORD=
POSTGRES_PORT=7234

# Services connecting directly to the database (on container network)
UO_DB_HOST=${UO_INSTANCE}-timescaledb
UO_DB_PORT=5432
UO_DB_USER=${POSTGRES_USER}
UO_DB_PASS=${POSTGRES_PASSWORD}
UO_DB_NAME=${POSTGRES_DB}

# Database backups
DB_TYPE=timescale
DB_BACKUP_MONITOR_PORT=8084
DB_DIFF_SCHEDULE='20 22 * * 0'

# RabbitMQ
RABBITMQ_HOST=${UO_QUEUE_HOST}
RABBITMQ_NODENAME=uo-${UO_INSTANCE}@rabbitmq
RABBITMQ_PORT_ADMIN=15672
RABBITMQ_PORT_DATA=5672
RABBITMQ_PORT_MONITOR=15692
RABBITMQ_ADMIN_PASSWORD=

# Storage master - data source is AMQP feed
UO_MASTER_BROKER_AMQP_HOST=${RABBITMQ_HOST}
UO_MASTER_BROKER_AMQP_PORT=${RABBITMQ_PORT_DATA}
UO_MASTER_BROKER_AMQP_USERNAME=store
UO_MASTER_BROKER_AMQP_PASSWORD=
UO_MASTER_BROKER_AMQP_QUEUE=uo.master.store.temp

# Brokerage service - providing data in to the queue
UO_BROKER_AMQP_HOST=${RABBITMQ_HOST}
UO_BROKER_AMQP_PORT=${RABBITMQ_PORT_DATA}
UO_BROKER_AMQP_USERNAME=broker
UO_BROKER_AMQP_PASSWORD=
UO_BROKER_EXCHANGE_COV=uo.raw

# Brokerage service config - special configuration for brokers
UO_BROKER_CONFIGURATION=UPLOAD.OpenServices
UO_BROKER_CONFIGURATION_PORT=8080
UO_BROKER_CONFIGURATION_API_USERNAME=uo
UO_BROKER_CONFIGURATION_API_PASSWORD=
UO_BROKER_CONFIGURATION_USERNAME=uo
UO_BROKER_CONFIGURATION_PASSWORD=

# Stream service - providing data to the public live
UO_STREAM_AMQP_HOST=${RABBITMQ_HOST}
UO_STREAM_AMQP_PORT=${RABBITMQ_PORT_DATA}
UO_STREAM_AMQP_USERNAME=stream
UO_STREAM_AMQP_PASSWORD=
UO_STREAM_QUEUE=uo.master.stream
